.loader {
  width: 320px;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_cube {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.loader_cube--glowing {
  z-index: 2;
  background-color: rgba(217, 0, 255, 0.215);
  border: 2px solid rgba(251, 0, 251, 0.19);
}

.loader_cube--color {
  z-index: 1;
  filter: blur(2px);
  background: linear-gradient(
    135deg,
    rgba(76, 6, 126, 0.89),
    rgba(148, 10, 190, 0.795)
  );
  animation: loadtwo 2.5s ease-in-out infinite;
}

@keyframes loadtwo {
  50% {
    transform: rotate(-80deg);
  }
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  /* background-color: rgb(193, 163, 98); */
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:active {
  scale: 1;
}

.instagram_about {
  color: #f56040;
  border: 2px solid #f56040;
}
.linkedin_about {
  color: #0096d6;
  border: 2px solid #0096d6;
}
.facebook_about {
  color: #4267b2;
  border: 2px solid #4267b2;
}
.github_about {
  color: #000000;
  border: 2px solid #000000;
}
.whatsapp_about {
  color: #25d366;
  border: 2px solid #25d366;
}

.instagram_about:hover::before {
  background-color: #f56040;
}
.facebook_about:hover::before {
  background-color: #4267b2;
}
.linkedin_about:hover::before {
  background-color: #0096d6;
}
.github_about:hover::before {
  background-color: #000000;
}
.whatsapp_about:hover::before {
  background-color: #25d366;
}

.instagram_about:hover::before,
.linkedin_about:hover::before,
.facebook_about:hover::before,
.github_about:hover::before,
.whatsapp_about:hover::before {
  scale: 3;
}

.instagram_about:hover,
.linkedin_about:hover,
.facebook_about:hover,
.github_about:hover,
.whatsapp_about:hover {
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}
