.card_custom_project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(100px, 95%, 350px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    -45deg,
    rgb(168 85 247) 0%,
    rgba(67, 38, 100, 255) 100%
  );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card_custom_project::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    -45deg,
    rgb(168 85 247) 0%,
    rgba(67, 38, 100, 255) 100%
  );
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card_custom_project:hover::before {
  height: 100%;
}

.card_custom_project:hover {
  box-shadow: none;
}

.card_custom_project:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

.loader_title span {
  position: absolute;
  /* padding-top: 20px; */
  /* color: #fff; */
  transform: translate(-50%, -50%);
  /* font-size: 38px; */
  letter-spacing: 5px;
}

.loader_title span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.7px rgb(168 85 247);
}

.loader_title span:nth-child(2) {
  color: rgb(168 85 247);
  -webkit-text-stroke: 2px rgb(168 85 247);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
