.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: rgba(19, 20, 45, 1);
  border-radius: 90px 5px 5px 5px;
  box-shadow: -5px -4px 2em -20px rgb(168 85 247);
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 0.5em;
  margin-left: 2.2em;
  color: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: rgba(19, 20, 45, 1);
  border-radius: 5px 90px 5px 5px;
  box-shadow: 5px -4px 2em -20px rgb(168 85 247);
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 0.6em;
  margin-left: 1.4em;
  color: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: rgba(19, 20, 45, 1);
  border-radius: 5px 5px 5px 90px;
  box-shadow: -5px 4px 2em -20px rgb(168 85 247);
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 2.2em;
  color: white;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: rgba(19, 20, 45, 1);
  border-radius: 5px 5px 90px 5px;
  box-shadow: 5px 4px 2em -20px rgb(168 85 247);
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  color: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  color: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .linkedin {
  color: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  color: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  color: white;
}
